@font-face {
   font-family: 'TechnicBold';
   font-display: swap;
   src: url('file:///C:/Users/Anna/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-24_204207/fonts/TechnicBold/font.ttf');
}
